@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');


body {
  margin: 0;
  width: 100%;
  font-family:  'Orelega One', cursive;
  color: #333;
  background-color: #7fb98f;
}

.page-container {
  width: 800px;
  margin: 20px auto;
  background-color: #e7faeb;
  padding: 70px;
}
.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #4da162;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #afecd3;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.plant-listing {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
}

.plant-listing .plant-list-single {
  padding: 30px 30px;
  width: 200px;
}

.form {
  margin-left: 50px;
  padding: 20px 20px;
}

h3 {
  color: #0c7a4c;
}
.myButton {
	box-shadow: 0px 10px 14px -7px #217c0a;
	background:linear-gradient(to bottom, #308d49 5%, #55b326 100%);
	background-color:#3cb15b;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#d9eedc;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background:linear-gradient(to bottom, #b5d4a5 5%, #236b36 100%);
	background-color:#3b8019;
}
.myButton:active {
	position:relative;
	top:1px;
}


